{% extends 'company_module/recruitment/company_base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/post_job.css' %}">
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="card shadow">

                <div class="head text-center">

                    <h3>Post a New Job</h3>

                </div>

                <div class="card-body">

                    <form method="POST">

                        {% csrf_token %}

                        {{ form.as_p }}

                        <div class="text-center mt-4">

                            <button type="submit" class="btn btn-outline-primary">
                             Post Job
                            </button>

                            <a href="" class="btn btn-outline-primary">

                                Cancel

                            </a>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if messages %}
    {% for message in messages %}

    <script>
        Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: '{{ message }}',
            confirmButtonColor: '#667eea'
        });
    </script>

    {% endfor %}
{% endif %}
