{% extends "mentor_module/mentor_base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/evaluate_resume.css' %}">
{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">
                Resume Evaluation
            </h4>
        </div>

        <div class="card-body">

            <div class="mb-4">
                <h5>{{ student.user.full_name }}</h5>

                <p class="text-muted">
                    {{ student.user.email }}
                </p>
                <p class="text-muted">
        Resume: {{ resume.resume_name }}
    </p>
            </div>

            <hr>

            

            <form method="POST" id="feedbackForm">

                {% csrf_token %}

                <div class="mb-3">

                    <label class="form-label fw-bold">
                        Mentor Feedback
                    </label>

                    <textarea
                        name="feedback"
                        rows="8"
                        class="form-control"
                        placeholder="Write your feedback here...">{{ resume.mentor_feedback|default_if_none:'' }}</textarea>

                </div>

                <button type="submit" class="btn btn-success">
                    <i class="bi bi-check-circle"></i>
                    Save Feedback
                </button>

                <a href="{% url 'resume_evaluation' %}"
                   class="btn btn-secondary ms-2">
                    Back
                </a>

            </form>

        </div>

    </div>

</div>
{% endblock %}