{% extends 'mentor_module/mentor_base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">

    <div class="card shadow p-4">

        <div class="text-center mb-4">

            {% if pro.profile_pic %}
                <img src="{{ pro.profile_pic.url }}"
                     class="rounded-circle"
                     width="160"
                     height="160">
            {% else %}
                <img src="{% static 'images/default-picture.webp' %}"
                     class="rounded-circle"
                     width="160"
                     height="160">
            {% endif %}

            <h3 class="mt-3">{{ pro.full_name }}</h3>
            <p>{{ request.user.email }}</p>

        </div>

        <div class="row">

            <div class="col-md-6 mb-3">
                <strong>Phone</strong>
                <p>{{ pro.phone }}</p>
            </div>


            <div class="col-md-6 mb-3">
                <strong>Gender</strong>
                <p>{{ pro.gender }}</p>
            </div>

            

            <div class="col-md-6 mb-3">
                <strong>Qualification</strong>
                <p>{{ pro.qualification }}</p>
            </div>

            <div class="col-md-6 mb-3">
                <strong>Specialisation</strong>
                <p>{{ pro.specialization }}</p>
            </div>

            <div class="col-12 mb-3">
                <strong>Experience</strong>
                {% if pro.experience %}
                <p>{{ pro.experience }} Years</p>
                {% else %}
                <p>Not Provided</p>
                {% endif %}
            </div>

            <div class="col-12">
                <strong>Company</strong>
                <p>{{ pro.company }}</p>
            </div>

        </div>

        <div class="text-center mt-4">
            <a href="{% url 'edit_mentor_profile' %}" class="btn btn-primary">
                Edit Profile
            </a>
        </div>

    </div>

</div>

{% endblock %}
